{% if posts %}

    {% autopaginate posts 20 %}

        {% for object in posts %}
            {% include 'abs/blocks/actions.html' with inline=True %}
            <div class="post">
                <a class="post-title h2" href="{% url 'post_detail' object.id %}">{{ object.title }}</a>
                <div class="post-datetime">{{ object.date_created }}</div>
                <div class="post-anons">{{ object.anons|safe|linebreaksbr }}</div>
                <div class="post-footer">
                    {% spaceless %}
                        <a href="{% url 'post_detail' object.id %}">Читать полностью</a>
                        <a href="{% url 'user_detail' object.user.id %}"><i class="fa fa-user"></i>{{ object.user.get_full_name }}</a>
                    {% endspaceless %}
                </div>
            </div>
        {% endfor %}

    {% paginate %}

{% else %}
    <h2 class="empty">Ещё ничего не написано</h2>
{% endif %}